= render 'commons/profile', user: current_user

= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
  .hidden
    = f.file_field :avatar, class: 'avatar-post'
    = f.submit '保存', class: 'avatar-btn'
= javascript_pack_tag 'profile'