.container
  %header
    .header
      %p Instagram
      - if user_signed_in?
        .dropdown.user_avatar
          = image_tag current_user.avatar_image, class: 'dropdwon'
          .dropdown-content
            = link_to 'Profile', profile_path, class: 'profile-btn'
            =link_to 'Timeline', timeline_path, class: 'timeline-btn'
            = link_to 'Logout', destroy_user_session_path, data: { method: 'delete' }
      -else
        = link_to 'Login', new_user_session_path, class: 'header_loginBtn'
  = link_to new_article_path do
    .float_btn
      %p +

  = render 'commons/articles', articles: @articles