.container
  .profile{data: {account_id: user.id, user_id: current_user.id}}
    .header
      .header_back
        = link_to :back do
          %p back
      .header_title= user.account_name
      .follow-act
        -if user_signed_in?
          .follow-btn.hidden Follow
          .unfollow-btn.hidden Unfollow
    .profile_image.old-avatar
      = image_tag user.avatar_image
    .profile_image.new-avatar.hidden
      = image_tag '', id: 'new-avatar'
    .profile_info
      %div
        %P= user.articles.count
        .profile_info_title Posts
      %div
        = link_to account_followers_path(user.id) do
          .count= user.followers.count
        .profile_info_title Followers
      %div
        = link_to account_followings_path(user.id) do
          %p= user.followings.count
        .profile_info_title Following
    = render 'commons/articles', articles: user.articles